
/* 
 * atoms/style.modules.css
 * 
 * CSS Module for styling atomic-level components in the "atoms" folder.
 */

/**
 * Atoms Module
 * 
 * This CSS module provides styling for atomic-level components in the "atoms" folder.
 * Atomic components are small, reusable UI elements.
 * 
 * @module atoms/style.modules.css
 */

.inputField {
  background-color: white;
  background-image: url('/assets/search-svgrepo-com.svg');
  background-size: 24px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 40px;
  width: 100%;
  margin: 24px 0;
  box-sizing: border-box;
  border: 2px solid #efeff1;
  border-radius: 12px;
}

.labelField {
  text-transform: capitalize;
}

.starField {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #f7f8fa;
  min-width: 32px;
  border-radius: 12px;
  padding: 4px 10px;
  height: 100%;
}

.chip {
  height: 100%;
  width: auto;
  min-width: 32px;
  padding: 4px 10px;
  background-color: #e2e4e7;
  border-radius: 12px;
  font-size: 0.5rem;
}

.badge {
  padding: 6px 10px;
  border-radius: 0px;
  border-bottom-right-radius: 12px;
  color: #fff;
}

.chipText {
  margin: 0px;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chipIsNew {
  color: #55c4a2;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  width: 7rem;
  height: 2.5rem;
  font-size: 0.5rem;
  border-radius: 12px;
  border: 1px solid #ffc700;
  background-color: transparent;
}

